<div class="container">
  <div class="row col-4">
    <div class="card mb-5">
      <div class="card-body">
          <p *ngIf="alumno?.esAdmin">Alumno Administrador</p>
          <p *ngIf="!alumno?.esAdmin">Alumno</p>
          {{ alumno?.genero }} - {{ alumno?.fechaNacimiento | date }}        
          <h5 class="card-title mb-2">{{ {nombre: alumno?.nombre, apellido: alumno?.apellido} | nombreCompleto}}</h5>
          <span>{{alumno?.email}}</span>
      </div>
    </div>
  </div>

  <h3 appTitulos>Cursos en los que se inscribió</h3>
  <table mat-table [dataSource]="cursos" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let curso"> {{curso.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let curso"> {{curso.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripción </th>
      <td mat-cell *matCellDef="let curso"> {{curso.descripcion}} </td>
    </ng-container>
  
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Acciones </th>
      <td mat-cell *matCellDef="let curso" class="text-center">
        <a (click)="anularInscripcion(curso.id)">
          <button mat-mini-fab aria-label="Eliminar" class="mx-1 shadow-none">
              <mat-icon>block</mat-icon>
          </button>
      </a>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<app-toasts></app-toasts>