<form>
    <mat-card-title appTitulos class="my-3 text-center mb-4">Iniciar Sesión</mat-card-title>
    <div class="mx-5 pt-2">
        <p>
            <mat-form-field>
                <mat-icon matPrefix>person_outline</mat-icon>
                <mat-label>Usuario</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </p>   
        <p>
            <mat-form-field>
                <mat-icon matPrefix>lock_outline</mat-icon>
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput>
            </mat-form-field>
        </p>
        <div class="d-flex justify-content-center my-3 pt-2">
            <button type="submit" mat-fab extended color="primary" class="shadow-sm">
                <mat-icon>keyboard_arrow_right</mat-icon><label style="font-family: Lato;">Ingresar</label>
            </button>
        </div>
    </div>
</form>