
<h2 appTitulos mat-dialog-title> {{data?.cursoModificado ? 'Editar' : 'Crear'}} Curso</h2>
<mat-dialog-content>
  <hr>
  <form [formGroup]="cursoForm">
    <div class="row my-2" appTitulos>
      <div class="col-6">
        <mat-form-field>
          <mat-icon matPrefix>book</mat-icon>
          <mat-label>Nombre</mat-label>
          <input formControlName="nombre" matInput />
          <!-- <mat-error>
            @if(cursoForm.get('nombre')?.hasError('required')){
              Requerido
            }
          </mat-error> -->
        </mat-form-field>        
      </div>
      <div class="col-6">
        <mat-form-field>
          <mat-icon matPrefix>description</mat-icon>
          <mat-label>Descripción</mat-label>
          <input formControlName="descripcion" matInput />
          <!-- <mat-error>
            @if(cursoForm.get('apellido')?.hasError('required')){
              Requerido
            }
          </mat-error> -->
        </mat-form-field>
      </div>
    </div>

    <div class="row my-2">
      <div class="col-6">
        <mat-form-field>
          <mat-icon matPrefix>summarize</mat-icon>     
          <mat-label>Dificultad</mat-label>
          <input formControlName="dificultad" matInput />
            <!-- <mat-error>
              @if(cursoForm.get('email')?.hasError('required')){
                Requerido
              }
            </mat-error> -->
        </mat-form-field>
      </div>  

      <div class="col-6">
        <mat-form-field appearance="fill">
          <mat-icon matPrefix>notes</mat-icon>   
          <mat-label>Clases</mat-label>
          <mat-select formControlName="idClase">
            <mat-option [value]="clase.id" *ngFor="let clase of clases$ | async">{{ clase.contenido }}</mat-option>
          </mat-select>
        </mat-form-field>                                  
      </div>
    </div>

    <div class="row my-2">
      <div class="col-12 d-flex justify-content-end">
        <mat-form-field>          
          <mat-label>Fecha de Inicio</mat-label>
          <input formControlName="fechaInicio" matInput [matDatepicker]="picker" />
          <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
          <mat-datepicker-toggle matIconPrefix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <!-- <mat-error>
            @if(cursoForm.get('fechaNacimiento')?.hasError('required')){
              Requerido
            }
          </mat-error> -->
        </mat-form-field>                                     
      </div>
    </div>

  </form>
  <hr>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="onSave()">Guardar</button>
  <button mat-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions>
