<div aria-live="polite" aria-atomic="true" class="toast-container bottom-0 end-0 p-3">
    <div class="toast" role="alert" id="id-toast" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            ¿Está seguro de que desea eliminar al alumno?
            <div class="mt-2 pt-2 border-top">
                <button type="button" class="btn btn-primary btn-sm" id="take-action-btn">Eliminar</button>
                <button type="button" class="btn btn-secondary btn-sm mx-2" data-bs-dismiss="toast">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<div class="toast text-bg-success" role="alert" id="id-success-toast">
    <div class="toast-body">
      <div class="d-flex gap-4">
        <span><i class="fa-solid fa-circle-check fa-lg"></i></span>
        <div class="d-flex flex-grow-1 align-items-center">
          <span class="fw-semibold">Welcome to the room</span>
          ...
        </div>
      </div>
    </div>
  </div>
  

  <div class="toast text-bg-danger" role="alert" id="id-error-toast">
    <div class="toast-body">
      <div class="d-flex gap-4">
        <span><i class="fa-solid fa-circle-exclamation fa-lg"></i></span>
        <div class="d-flex flex-grow-1 align-items-center">
          <span class="fw-semibold">We are having issues</span>
          ...
        </div>
      </div>
    </div>
  </div>
  

  <div class="toast text-bg-warning" role="alert" id="id-warning-toast">
    <div class="toast-body">
      <div class="d-flex gap-4">
        <span><i class="fa-solid fa-triangle-exclamation fa-lg"></i></span>
        <div class="d-flex flex-grow-1 align-items-center">
          <span class="fw-semibold">Trying again...</span>
          ...
        </div>
      </div>
    </div>
  </div>
  