<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <mat-nav-list role="list" class="mx-auto">

      <a mat-list-item routerLink="/dashboard/home">
        <span class="d-flex align-items-center">
          <mat-icon class="mx-2" color="primary">home</mat-icon>Inicio
        </span>
      </a>

      <a mat-list-item routerLink="/dashboard/alumnos">
        <span class="d-flex align-items-center">
          <mat-icon class="mx-2" color="primary">group</mat-icon>Alumnos
        </span>
      </a>

      <a mat-list-item routerLink="/dashboard/cursos">
        <span class="d-flex align-items-center">
          <mat-icon class="mx-2" color="primary">newspaper</mat-icon>Cursos
        </span>
      </a>

      <a mat-list-item routerLink="/dashboard/clases">
        <span class="d-flex align-items-center">
          <mat-icon class="mx-2" color="primary">school</mat-icon>Clases
        </span>
      </a>
      
      <a mat-list-item routerLink="/auth/login">
        <span class="d-flex align-items-center">
          <mat-icon class="mx-2" color="primary">power_settings_new</mat-icon>Cerrar Sesión
        </span>
      </a>
    </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span appTitulos class="px-5">Alumnos</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
    <br>

    <!-- SELECTOR -->
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>