
<div class="container">
    <body class="text-center bg-transparent">

        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
          <header class="masthead mb-auto">
            <div class="inner">
              <h3 class="masthead-brand" appTitulos>Me alegra tenerte acá para comenzar juntos este recorrido de aprendizaje.</h3>
              <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" routerLink="/dashboard/alumnos">Alumnos</a>
                <a class="nav-link" routerLink="/dashboard/cursos">Cursos</a>
                <a class="nav-link" routerLink="/dashboard/clases">Clases</a>
                <a class="nav-link" routerLink="/dashboard/inscripciones">Inscripciones</a>
              </nav>
            </div>
          </header>
    
          <main role="main" class="inner cover">
            <h1 class="cover-heading">Gestión de Cursos</h1>
            <p class="lead">Este proyecto en Angular fue desarrollado como parte del curso de programación de Coderhouse. 
                Aplica conceptos clave como componentes, servicios y enrutamiento, demostrando el aprendizaje en la creación de aplicaciones web dinámicas.</p>
            <p class="lead">
                <a mat-raised-button color="primary" class="mx-1" href="https://www.coderhouse.com/ar/online/angular" target="_blank">
                    <label style="font-family: Lato;">Ver curso</label>
                </a>
                <a mat-raised-button color="primary" class="mx-1" href="https://github.com/sortizaccess/coderhouse-angular-59435" target="_blank">
                    <label style="font-family: Lato;">Ver repositorio</label>
                </a>
            </p>
          </main>

          <footer class="mastfoot mt-5">
            <div>
              <p>Curso de Angular - Sebastián Ortiz, Comisión #59435.</p>
            </div>
          </footer>
        </div>
    </body>
</div>
  

