<div class="container">
    
    <section class="pb-3">
         <button mat-flat-button (click)="openModal()"><mat-icon>add</mat-icon> Crear</button>
    </section>
    
    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="legajo">
          <th mat-header-cell *matHeaderCellDef> Legajo </th>
          <td mat-cell *matCellDef="let alumno"> {{alumno.legajo}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre Completo</th>
            <td mat-cell *matCellDef="let alumno"> {{ {nombre: alumno.nombre, apellido: alumno.apellido} | nombreCompleto}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let alumno"> {{alumno.email}} </td>
        </ng-container>        

        <ng-container matColumnDef="fechaNacimiento">
            <th mat-header-cell *matHeaderCellDef> Fecha de Nacimiento </th>
            <td mat-cell *matCellDef="let alumno"> {{alumno.fechaNacimiento | date}} </td>
        </ng-container>

        <ng-container matColumnDef="genero">
            <th mat-header-cell *matHeaderCellDef> Genero </th>
            <td mat-cell *matCellDef="let alumno"> {{alumno.genero}} </td>
        </ng-container>
  
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let alumno"> 
                <a (click)="openModal(alumno)"><mat-icon>edit</mat-icon></a> 
                <a (click)="eliminarAlumno(alumno)"><mat-icon>delete</mat-icon></a>
            </td>
        </ng-container>       

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>           
</div>

<app-toasts></app-toasts>