<form>
    <mat-card-title appTitulos class="my-3 text-center mb-4">¡Regístrate!</mat-card-title>
    <div class="mx-5 pt-2">
        <p>
            <mat-form-field>
                <mat-icon matPrefix>email</mat-icon>
                <mat-label>Email</mat-label>
                <input autofocus type="email" matInput>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-icon matPrefix>person_outline</mat-icon>
                <mat-label>Usuario</mat-label>
                <input autofocus type="text" matInput>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-icon matPrefix>lock_outline</mat-icon>
                <mat-label>Contraseña</mat-label>
                <input type="password" autocomplete="false" matInput>
            </mat-form-field>
        </p>
        <div class="d-flex justify-content-center my-3 pt-2">
            <button type="submit" mat-fab extended color="primary" class="shadow-sm">
                <mat-icon>add</mat-icon><label style="font-family: Lato;">Registrarse</label>
            </button>
        </div>
    </div>
</form>