<div class="container">    
    <section class="pb-3">
         <button type="submit" [disabled]="!(authAlumno$ | async)?.esAdmin" mat-fab extended color="primary" (click)="openModal()">
            <mat-icon>add</mat-icon><label style="font-family: Lato;">Crear Curso</label>
        </button>
    </section>
       
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> <strong>ID</strong> </th>
            <td mat-cell *matCellDef="let curso"> {{curso.id}} </td>
        </ng-container>
        
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> <strong>Nombre del Curso</strong> </th>
            <td mat-cell *matCellDef="let curso"> {{curso.nombre}} </td>
        </ng-container>
        
        <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> <strong>Descripción</strong> </th>
            <td mat-cell *matCellDef="let curso"> {{curso.descripcion}} </td>
        </ng-container>
        
        <ng-container matColumnDef="fechaInicio">
            <th mat-header-cell *matHeaderCellDef> <strong>Fecha de Inicio</strong> </th>
            <td mat-cell *matCellDef="let curso"> {{curso.fechaInicio | date}} </td>
        </ng-container>
        
        <ng-container matColumnDef="dificultad">
            <th mat-header-cell *matHeaderCellDef> <strong>Dificultad</strong> </th>
            <td mat-cell *matCellDef="let curso"> {{curso.dificultad}} </td>
        </ng-container>
  
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Acciones </th>
            <td mat-cell *matCellDef="let curso" class="text-center"> 
                <a (click)="openModal(curso)">
                    <button [disabled]="!(authAlumno$ | async)?.esAdmin" color="tertiary" mat-mini-fab aria-label="Modificar" class="mx-1 shadow-none">
                        <mat-icon>edit</mat-icon>
                    </button>
                </a> 
                <a (click)="eliminarCurso(curso)">
                    <button [disabled]="!(authAlumno$ | async)?.esAdmin" mat-mini-fab aria-label="Eliminar" class="mx-1 shadow-none">
                        <mat-icon>delete</mat-icon>
                    </button>
                </a>
            </td>
        </ng-container>       

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>           
</div>

<app-toasts></app-toasts>