<nav class="navbar navbar-light bg-light rounded">
    <div class="container-fluid">
        <div class="d-flex mx-auto align-items-center">
            <a class="nav-link mx-2" href="#">Option 1</a>
            <a class="nav-link mx-2" href="#">Option 2</a>
            <a class="nav-link mx-2" href="#">Option 3</a>
            <a class="nav-link mx-2" href="#" routerLink="/components/login">Ingresar</a>
        </div>
        <button class="navbar-toggler mx-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <app-sidebar></app-sidebar>
    </div>
</nav>