
<h2 appTitulos mat-dialog-title> {{data?.inscripcionModificada ? 'Editar' : 'Crear'}} Inscripción</h2>
<mat-dialog-content>
  <hr>
  <form [formGroup]="inscripcionForm">
    <div class="row my-2" appTitulos>
      <div class="col-6">
        <mat-form-field>
          <mat-icon matPrefix>book</mat-icon>
          <mat-label>Curso</mat-label>
          <mat-select formControlName="idCurso">
            <mat-option [value]="curso.id" *ngFor="let curso of cursos$ | async">
              {{ curso.nombre }}
            </mat-option>
          </mat-select>
          <mat-error>
            @if(inscripcionForm.get('idCurso')?.hasError('required')){
              Requerido
            }
          </mat-error>
        </mat-form-field> 
      </div>
      <div class="col-6">
        <mat-form-field>
          <mat-icon matPrefix>assignment_ind</mat-icon>
          <mat-label>Alumno</mat-label>
          <mat-select formControlName="idAlumno">
            <mat-option [value]="alumno.id" *ngFor="let alumno of alumnos$ | async">
              {{ {nombre: alumno.nombre, apellido: alumno.apellido} | nombreCompleto }} 
            </mat-option>
          </mat-select>
          <mat-error>
            @if(inscripcionForm.get('idAlumno')?.hasError('required')){
              Requerido
            }
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row my-2">
      <div class="col-6">
        <mat-form-field>
          <mat-icon matPrefix>summarize</mat-icon>     
          <mat-label>Estado</mat-label>
          <input formControlName="estado" matInput placeholder="Pendiente" />
            <mat-error>
              @if(inscripcionForm.get('estado')?.hasError('required')){
                Requerido
              }
            </mat-error>
        </mat-form-field>
      </div>  

      <div class="col-6">
        <mat-form-field>          
          <mat-label>Fecha de Inscripción</mat-label>
          <input formControlName="fechaInscripcion" matInput [matDatepicker]="picker" />
          <mat-datepicker-toggle matIconPrefix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>
            @if(inscripcionForm.get('fechaInscripcion')?.hasError('required')){
              Requerido
            }
          </mat-error>
        </mat-form-field>                                 
      </div>
    </div>
  </form>
  <hr>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="onSave()">Guardar</button>
  <button mat-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions>
